Dockerfile
.dockerignore

.git
.gitignore

#
# Contents of .gitignore
#

*.out
*.pid
*.gz
*.swp

pids
logs
results
temp
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
# .env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
# dist/**/*

# ignore yarn.lock
yarn.lock

serendipity.db

TODO.txt

#
#
#

resources
docs

README.md
tslint.json
